<h1 class="text-center">Todos los Libros</h1>
<hr class="separator">
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-md-3">
          <div class="thumbnail thumbnail-index">           
            <%= link_to (image_tag(book.photo, class: 'img-responsive img-book-index')), book  %>
            <div class="caption">
              <h4 class="text-center"><b><%= book.title %></b></h4>
              <div class="row">         
                <div class="col-md-8">
                  <%= book.editorial %>
                </div>
                <div class="col-md-4">
                  <%= link_to book, class: 'btn btn-info btn-sm' do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Agregar Libro', new_book_path, class: 'btn btn-success btn-sm' %>