<div class="row">
  <div class=" col-md-offset-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag(@book.photo, class: 'img-responsive img-book') %>
      <div class="caption">
        <div class="row">
          <div class="col-md-12">
            <div class="show-group">
              <h4 class="text-center"><b><%= @book.title %></b></h4>
            </div>
            <div class="show-group">
              <strong>Editorial:</strong>
              <%= @book.editorial %>
            </div>
            <div class="show-group">
              <strong>Author:</strong>
              <%= @book.user.name unless @book.user.nil? %>
            </div>
            <% if can? :manage, @book %>
              <hr class="separator">
            <% end %>
          </div>
          <% if can? :manage, @book %>
            <div class="col-md-9">
              <p><i>Has click si deseas editar tú libro</i></p>
              <%= link_to edit_book_path(@book), class: 'btn btn-warning btn-sm po-left' do  %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <%= link_to "Libro Anterior", @book.prev_book %>
      </div>
      <div class="col-md-4 text-center">
        <% if @book.user == current_user %>
          <%= link_to 'Volver', my_books_books_path, class: 'btn btn-default' %>
        <% else %>     
          <%= link_to 'Volver', books_path, class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "Próximo Libro", @book.next_book %>
      </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
    